<div class='w-75 mx-auto'>
	<p class='fs-1'>Edit product</p>
	{{#if errorEditProduct}}
		<div class='alert alert-danger alert-dismissible fade show' role='alert'>
			<strong>Error!</strong>
			{{errorEditProduct}}
			<button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
		</div>
	{{/if}}
	<form action='/edit-product/{{product._id}}' method='post'>
		<div class='form-floating mb-3'>
			<input type='text' value='{{product.title}}' class='form-control' name='title' id='floatingInput' placeholder='title' />
			<label for='floatingInput'>Title</label>
		</div>
		<div class='form-floating mb-3'>
			<textarea
				class='form-control'
				placeholder='Description'
				name='description'
				id='floatingTextarea2'
				style='height: 200px'
			>{{product.description}}</textarea>
			<label for='floatingTextarea2'>Description</label>
		</div>
		<div class='form-floating mb-3'>
			<input value='{{product.image}}' type='text' class='form-control' name='image' id='floatingInput' placeholder='Image' />
			<label for='floatingInput'>Image</label>
		</div>
		<div class='input-group mb-3'>
			<span class='input-group-text bg-light'>$</span>
			<div class='form-floating'>
				<input
					type='number'
					value='{{product.price}}'
					class='form-control'
					name='price'
					id='floatingInputGroup1'
					placeholder='Price'
				/>
				<label for='floatingInputGroup1'>Price</label>
			</div>
		</div>
		<button type='submit' class='btn btn-primary mt-3'>Edit product</button>
	</form>
</div>