<div class='product-image' style='background-image: url({{product.image}});'></div>
<p class='fs-1 m-0'>{{product.title}}</p>
<div class='d-flex gap-3 align-items-center'>
	<small class='text-muted'>Created at: <b>{{formatDate product.createdAt}}</b></small>
	<p class='fw-bold m-0'>{{product.price}}.00$</p>
</div>
<p class='mt-3'>{{product.description}}</p>